{% extends 'base.html' %}

{% block content %}
    {% if response %}
        {% for key, val in response.items %}

            <div class="card">
                <div class="card-body">
                    <a href="/products/{{ key }}">{{ key }}</a>:</h3>

                    <ul class="list-group">
                        {% for item in val %}
                            <li class="list-group-item">Name: {{ item.name }} | Price {{ item.price }}</li>

                        {% endfor %}
                    </ul>

                </div>
            </div>

            <br>
        {% endfor %}
        <hr>

        <div class="card">
            <div class="card-body">
                <form action="{% url 'brand_list' %}" method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="add brand">
                    </div>
                </form>
            </div>
        </div>

    {% else %}
        <h4>RESPONSE is empty</h4>
    {% endif %}

{% endblock content %}